.App {
  font-family: sans-serif;
  text-align: center;
}

.rotate-arrow{
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.rotate-arrow.open{
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.rotate-arrow.closed {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}